body {
  background: linear-gradient(45deg, #00ff1f, #ff0000, #9800ff, #003dff, #02b9ff, #4bd58d);
  background-size: 1200% 1200%;
  -webkit-animation: rainbow 500ms ease infinite;
  animation: rainbow 500ms ease infinite;
}
@-webkit-keyframes rainbow {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}
@keyframes rainbow {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}


html, body
{
/*     background: rgb(0,0,0) url("#");
    background-size:50%
    background-repeat:repeat */
    color: rgb(200,200,200)
}
 
a, a:hover, a:focus, a:active
{
    color: rgb(500, 500, 500);
}
 
.queue_entry
{
    background-color: rgba(0,0, 0, 0)
    border-color: rgb(500,500,500)
}
 
 
.queue_active
{
    background-color: rgba(0, 0, 0, 0));
    border:none
}
 
/*  Properties of the header of chat, the video title, the playlist footer, all of the divs with .active class, and the open poll menu, you may want to use different colors with some of this items, like chat header being red and video title being blue, in this case you need to remove the wanted div and write it's code aside */
#chatheader, #currenttitle, #plmeta, .active, .poll-menu
{
    background-color:#2c3e50;
    color: #ecf0f1;0
    border:none;
}
 
/* Divs with the .muted class i.e: closed poll*/
.muted
{
    background-color:rgba(0,0,0,0)!important;
    color: #2ecc71;
    border:none;
}
 
 
/* MOTD properties */
#motd
{
    font-weight: bold;
    text-align: center;
    border:none;
}
 
/* Motd wrap, preferably leave it like this, invisible*/
#motdwrap
{
    background-color:rgba(255,255,255,0);
    border:none;
}
 
 
/* Footer Configurations */
#footer
{
    background:rgb(0,0,0)!important;
    color:rgb(0,0,0)!important;
    text-align:center;
    width:100%;
}
 
 
/* Userlist configurationss */
#userlist
{
    background: rgba(0,0,0 );
    color: #afb0c9;
    font-weight:bold;
}
 
/* Chat configurations */
#messagebuffer
{
    background-image:linear-gradient(to bottom,
        rgba(30, 30, 30, 100),
        rgba(0, 0, 0, .0));
    color:rgb(255, 255, 255);
}
 
/* Registered Users Nick Color */
.username { font-size:0px; }
.username:before {
    content:'Anon: ';
    font-weight: 900;
    font-size: 14px;
    color:  #F9F9F9 }
}
 
/* Rank 3 and above Users Nick Color */
.userlist_owner
{
    color: #f39c12!important;
}
 
.userlist_Chiggen
{
    color:rgb(0, 0, 0)!important;
}
 
/* Rank 2(mod) Users Nick Color */
.userlist_op {
    color: #e22b2b!important;
}
 
 
/* Guests Users Nick Color */
.userlist_guest
{
    color: #c9c9c9!important;
}
 
/* Navigation bar and normal state buttons configurations*/
nav, .navbar, button
{
    background-color: rgba(24, 24, 24, 0.3)!important;
    background-image: linear-gradient(to bottom,
        rgba(24, 24, 24, 0.3),
        rgba(24, 24, 24, 0.3))!important;
    background-repeat: repeat-x;
    border: none!important;
    color:rgb(200,200,200)!important;
}
 
/* Pressed Button Configurations */
button:active, button:focus
{
    background-color: rgba(128,128,128,0.1)!important;
    background-image: linear-gradient(to bottom,
        rgba(105, 105, 105, 100),
        rgba(105, 105, 105, 20))!important;
        background-repeat: repeat-x;
        border: none!important;
}
 
/* Hovering Buttons configurations */
button:hover
{
    background-color: rgba(91,125,140,0.3)!important;
    background-image: linear-gradient(to bottom,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 1))!important;
        background-repeat: repeat-x;
        border: none!important;
        color:rgb(280, 50, 250)!important;
}
 
/* Chat box configs abajo */
#chatline{
    background: #807f8c8d!important;
    color:rgb(255,255,255)!important;
}

.emote-preview-container {
    width: 70px;
    height: 70px;
}
 
.emote-preview {
    overflow: hidden;
    max-width: 70px;
    max-height: 70px;
}
 
.channel-emote
{
  max-width: 25%;
}

div.chat-msg-xxxx .username {}
